version: '3.9'

services:

  app:
    container_name: app
    build: .
    volumes:
      - ./:/var/www/html
    networks:
      - app_leilao

  nginx:
    container_name: nginx
    image: nginx:alpine
    ports:
      - "3000:80"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./:/var/www/html
    networks:
      - app_leilao

  mysql:
    container_name: mysql
    image: mysql:latest
    env_file:
      - .env
    ports:
      - "3309:3306"
    volumes:
      - ./.mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root@123
      MYSQL_DATABASE: app_leilao
      MYSQL_USER: app_leilao
      MYSQL_PASSWORD: root@123
    networks:
      - app_leilao


networks:
  app_leilao: